<a href="https://colab.research.google.com/github/coding-oliver/CPEN-21A-ECE2-3/blob/main/GALOPO_DEMO_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Phyton Indention

Indentation refers to the spaces at the beginning of a code line.

In [ ]:
if 5>2:
  print ("Five is greater than two!") #This code shows a string of words.

Five is greater than two!

 *print means to display the output on the screen 
  input the text inside the parenthesis and a quotation*
  **print("string")**

---



---

###Python Variable

In [ ]:
a, b, c = 0,1,2
d ="Sally" #This is a type of string
s = 'Mark' #This is a type of string
A = "Raymond"
print(a)
print(b)
print(c)
print(d)
print (s)
print (A)

0
1
2
Sally
Mark
Raymond

###Casting

In [ ]:
print (float(4))

4.0

###Type Function

In [ ]:
f = 56.78924/4656
g = "John"
print (type(f))

<class 'float'>

In [ ]:
x,y,z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

##Multiple variables to single value

In [ ]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

In [ ]:
x =  "enjoying"
print ("Python programming is" " " +  x + ".")

Python programming is enjoying.

###Operations in Python

In [ ]:
k = 10 
l = 5
print(k+l)

15

In [ ]:
k+=l  #Is the same as k = k+l
print (k)

15

In [ ]:
k>l and l==l

True

In [ ]:
k<l or k==k

True

In [ ]:
not(k<l or k==k)

False

In [ ]:
k is l

False

###Modulo

In [ ]:
k%=5.156
k

0.0